#footer-info-container-left {
    position: fixed;
    color: white;
    font-size: 12px;
    float: left;
    bottom: 30px;
    padding-left: 20px;
    background-color: transparent;
}

#footer-info-container-right {
    position: fixed;
    color: white;
    font-size: 12px;
    float: right;
    bottom: 12px;
    right: 0;
    background-color: transparent;
}

#container {
    top: 25%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

#header-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: inline-block;
}

#header-container h1 {
    font-family: "Astro Space", "sans-serif";
    font-size: 48px;
    color: white;
    padding: 20px;
}

#header-container p a {
    font-family: "Astro Space", "sans-serif";
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    color: var(--yellow);
    cursor: pointer;

    animation: fadeInAnimation ease 8s;
}

#page-arrow {
    border: transparent 2px solid;
    position: fixed;
    padding: 10px;
    color: white;
    background-color: transparent;
    display: flex;
    font-size: 30px;
    transition: color, opacity 0.75s ease;
    left: calc(50% - 27px);
    bottom: 10px;
    z-index: 5;
}

#page-arrow ion-icon {
    background-color: transparent;
}

#page-arrow:hover {
    color: var(--yellow);
    cursor: pointer;
}

#plugin-information-box {
    top: 100%;
    height: 90%;
    width: 75%;
    position: absolute;
    background: black;
    left: 12.5%;
    right: 12.5%;
}

#plugin-downloads-container {
    font-size: 40px;
    font-family: "Astro Space", sans-serif;
    color: white;
    background: transparent;
    padding: 20px;

    border: 3px solid; border-image: linear-gradient(to right, var(--yellow), black) 1;
}

#plugin-downloads-count {
    font-size: 40px;
    font-family: "Astro Space", sans-serif;
    color: white;
    transition: opacity 1s ease;
}

#plugin-downloads-label {
    font-size: 12px;
    font-family: "Astro Space", sans-serif;
    color: white;
    background: transparent;
}