#projects-container {
    position: absolute;
    width: 75vw;
    height: fit-content;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: calc((75vw / 3) - 10px) calc((75vw / 3) - 10px) calc((75vw / 3) - 10px);
}

.project {
    position: relative;
    height: calc((75vw / 3) - 10px);
    border-radius: 10px;
    background-color: black;
    transition: 0.5s ease;
    justify-content: center;
    align-content: center;
    display: flex;
}

.project:hover {
    cursor: default;
}

.project-content {
    position: relative;
    height: calc((75vw / 3) - 40px);
    width: calc((75vw / 3) - 40px);
    border-radius: 10px;
    margin: 15px;
    color: var(--yellow);
    font-size: 16px;
    white-space: pre-wrap;
    justify-content: center;
    display: flex;
    background-color: transparent;
}

.project-content img {
    max-width: 80%;
    max-height: 80%;
    align-self: center;
}

.project-title {
    position: absolute;
    font-size: 24px;
    color: var(--yellow);
    top: 0;
    background-color: transparent;
    text-align: center;
}

.project-snippet {
    position: absolute;
    color: white;
    background-color: transparent;
    top: 25%;
    flex-direction: column;
    height: fit-content;
    width: calc((75vw / 3) - 40px);
    display: flex;
    font-size: 16px;
}

.project-read-more {
    position: absolute;
    border: none;
    color: white;
    padding: 5px;
    transition: 0.5s ease;
    bottom: 15%;
    font-family: inherit;
    background-color: transparent;
    font-size: 26px;
}

.project-read-more:hover {
    color: var(--yellow);
    cursor: pointer;
    transform: scale(1.1);
}

#project-popup {
    position: absolute;
    height: 80vh;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    border: var(--yellow) 2px solid;
    border-radius: 10px;
    background-color: black;
    display: none;
}

#project-popup-content {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}

#project-popup-x {
    position: absolute;
    top: 10px;
    right: 10px;
    border: transparent 2px solid;
    color: white;
    background-color: transparent;
    display: flex;
    font-size: 30px;
    transition: color 0.75s ease;
    cursor: pointer;
}

#project-popup-x:hover {
    color: var(--yellow);
}

#project-popup-x ion-icon {
    background-color: transparent;
}

#project-popup-divider {
    position: relative;
    height: 78vh;
    top: 0.5vh;
    background-color: var(--yellow);
    border: var(--yellow) 2px solid;
    border-radius: 2px;
}

#project-popup-image-container {
    position: absolute;
    right: 1vw;
    top: 1vh;
    height: 78vh;
    width: 38vw;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
}

#project-popup-image-container img {
    position: relative;
    max-width: 38vw;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#project-popup-description-container {
    position: absolute;
    left: 1vw;
    top: 1vh;
    height: 78vh;
    width: 38vw;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

#random-project-button {
    border: transparent 2px solid;
    position: relative;
    padding: 10px;
    color: white;
    background-color: transparent;
    display: flex;
    font-size: 30px;
    transition: color 0.75s ease;
}

#random-project-button ion-icon {
    background-color: transparent;
}

#random-project-button:hover {
    color: var(--yellow);
    cursor: pointer;
}