:root {
    --yellow: #ffde7a;
}

@font-face {
    font-family: "Proxima Nova Extra Thin";
    src: url("fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanovacond-semibold.otf");
}

@font-face {
    font-family: "Proxima Nova Extra Condensed Bold";
    src: url("fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-bold.otf");
}

@font-face {
    font-family: "Astro Space";
    src: url("fonts/a-astro-space-font/AstroSpace-eZ2Bg.ttf");
}

* {
    margin: 0;
    padding: 0;
    background: black;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Proxima Nova Extra Condensed Bold', sans-serif;
    font-size: 18px;
    line-height: 0;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header {
    padding: 20px;
    align-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 20px 40px;
}

nav ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    transition: color 0.75s ease;
}

a:hover {
    color: var(--yellow);
}

#footer-info-container-left {
    position: fixed;
    color: white;
    font-size: 12px;
    float: left;
    bottom: 30px;
    padding-left: 20px;
}

#container {
    position: absolute;
    width: 100%;
    height: fit-content;
    align-content: center;
    display: flex;
    justify-content: center;
}

#container p {
    font-family: "Astro Space", "sans-serif";
    font-size: 36px;
    color: white;
    padding: 20px;
}

.box {
    position: absolute;
    width: 50%;
    height: 800px;
    border: lightgray 2px solid;
    border-radius: 10px;

    animation: fadeInAnimation ease 2s;
}

#socials-container {
    position: fixed;
    border: var(--yellow) 2px solid;
    margin-top: calc(50vh - 200px);
    margin-left: 10px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
    background-color: transparent;

    animation: fadeInAnimation ease 4s;
}

.social-link {
    border: transparent 2px solid;
    position: relative;
    padding: 10px;
    color: white;
    background-color: transparent;
    display: flex;
    font-size: 30px;
    transition: color 0.75s ease;
}

.social-link:hover {
    color: var(--yellow);
}