:root {
    --yellow: #ffde7a;
    --darkgray: #333333;
}

@font-face {
    font-family: "Proxima Nova Extra Thin";
    src: url("fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanovacond-semibold.otf");
}

@font-face {
    font-family: "Proxima Nova Extra Condensed Bold";
    src: url("fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-bold.otf");
}

@font-face {
    font-family: "Astro Space";
    src: url("fonts/a-astro-space-font/AstroSpace-eZ2Bg.ttf");
}

* {
    margin: 0;
    padding: 0;
    background: black;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Proxima Nova Extra Condensed Bold', sans-serif;
    font-size: 18px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    cursor: default;
    background-color: transparent;
}

p {
    cursor: default;
    background-color: transparent;
}

header {
    padding: 20px;
    align-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 20px 40px;
}

nav ul li a:not([data-attr="ion-icon"]) {
    color: white;
    position: relative;
    text-decoration: none;
    transition: color 0.75s ease;
}

nav ul li a:not([data-attr="ion-icon"]):hover {
    color: var(--yellow);
}

#logo {
    border: transparent 2px solid;
    position: relative;
    background-color: transparent;
    display: flex;
    font-size: 60px;
    transition: font-size 0.75s ease;
    color: white;
}

#footer-info-container-left {
    position: fixed;
    color: white;
    font-size: 12px;
    float: left;
    bottom: 30px;
    padding-left: 20px;
    background-color: transparent;
}

#container {
    top: 25%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

#header-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: inline-block;
}

#header-container h1 {
    font-family: "Astro Space", "sans-serif";
    font-size: 48px;
    color: white;
    padding: 20px;
}

#header-container p {
    font-size: 20px;
    color: var(--yellow);
    padding: 20px;
}

#skills-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-content: center;
    display: flex;
    top: 250px;
    border: var(--yellow) 2px solid;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
}

.skill {
    font-size: 18px;
    line-height: 18px;
    color: white;
    background-color: transparent;
    cursor: default;
}

.skill-separator {
    font-size: 18px;
    font-family: "Astro Space", serif;
    line-height: 18px;
    color: white;
    background-color: transparent;
    cursor: default;
    padding: 0 80px 0 80px;
}

#socials-container {
    position: fixed;
    border: var(--yellow) 2px solid;
    margin-top: calc(50vh - 200px);
    margin-left: 10px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
    background-color: transparent;

    animation: fadeInAnimation ease 3s;
}

.social-link {
    border: transparent 2px solid;
    position: relative;
    padding: 10px;
    color: white;
    background-color: transparent;
    display: flex;
    font-size: 30px;
    transition: color 0.75s ease;
}

.social-link:hover {
    color: var(--yellow);
}

#projects-container {
    position: absolute;
    width: 75vw;
    height: fit-content;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: calc((75vw / 3) - 10px) calc((75vw / 3) - 10px) calc((75vw / 3) - 10px);
}

.project {
    position: relative;
    height: calc((75vw / 3) - 10px);
    border-radius: 10px;
    background-color: var(--darkgray);
    transition: 0.5s ease;
    justify-content: center;
    align-content: center;
    display: flex;
}

.project:hover {
    cursor: default;
    transform: scale(1.025);
}

.project-content {
    position: absolute;
    height: calc((75vw / 3) - 40px);
    width: calc((75vw / 3) - 40px);
    border-radius: 10px;
    margin: 15px;
    color: var(--yellow);
    font-size: 16px;
    white-space: pre-wrap;
    justify-content: center;
    display: flex;
    background-color: transparent;
}

.project-title {
    position: absolute;
    font-size: 24px;
    color: var(--yellow);
    top: 0;
    background-color: transparent;
    text-align: center;
}

.project-description {
    position: absolute;
    color: white;
    background-color: transparent;
    top: 25%;
    flex-direction: column;
    height: calc((75vw / 3) - 40px);
    width: calc((75vw / 3) - 40px);
    display: flex;
    font-size: 16px;
}

.project-read-more {
    position: absolute;
    border: var(--yellow) 2px solid;
    border-radius: 10px;
    color: white;
    padding: 5px;
    transition: 0.5s ease;
    bottom: 15%;
    background-color: transparent;
}

.project-read-more:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.page-title-container {
    position: absolute;
    width: 75vw;
    height: fit-content;
    bottom: 60px;
}

.page-title {
    position: absolute;
    left: 0;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    line-height: 30px;
}